body{
}

#canvas{

}

#ticker{
  height:50px;
  background-color:blue;
}

#workspace{
  margin:inherit:
}

#sections{

}

.corner{

}

#top{

}

#core{

}

#bottom{

}

footer{
  background-color:#CCCCCC;
  height:75px;
}
