doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/qunit.css')
    title(Priorisize Testing)
  body
    #qunit
      #qunit-fixture

        script(src='/js/vendor/lodash.js')
        script(src='/js/vendor/qunit.js')
        script(src='/js/source/user.js')
        script(src='/js/source/task.js')
        script(src='/js/source/test.js')
